@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html, 
body {
	margin: 0;
}

body {
	background-color: #d4d4d4;
}

header {
	display: flex;
	background-color: #edecec;
	width: 100%;
	overflow: hidden;
}

header img{
	width: 100px;
}

header h1 {
	margin: auto 0;
	cursor: default;
}

fieldset {
	margin: 10px auto;
	width: fit-content;
	border-radius: 5px;
	background-color: #3a4555;
	color: #edecec;
	border: 1px solid black;
}

input,
select {
	margin: 10px 10px 10px 6px;
}

label {
	margin: 10px 0 10px 10px;
}

.form__top {
	display: flex;
}

textarea, 
input, 
select {
	outline: none;
}

.form__submit {
	margin-left: 114px;
}

.submitButton {
	background-color: #29c1e1;
	border-radius: 5px;
	cursor: pointer;
}

#entryLog {
	margin: auto;
	background-color: #3a4555;
	border-radius: 5px;
	width: 935px;
	border: 1px solid black;
}

.journalEntry {
	color: #edecec;
	padding: 10px;
	margin: 5px;
	border: 1px dashed #edecec;
	border-radius: 5px;
}

.entryContainer {
	display: flex;
	justify-content: space-between;
}

footer {
	background-color: #edecec;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	height: 35px;
	margin-top: 10px;
}

.footer__text {
	margin: 10px 10px 0px 10px;
	cursor: default;
}

.footer__text a {
	text-decoration: none;
	color: #404040;
}

.footer__text a:hover {
	text-decoration: underline;
}